# Pima Data cleaning

In [16]:
# Import Modules Here
import pandas as pd
import numpy as np

## Part 1: Read the Data into Jupyter

In [17]:
# Read the data into a dataframe named pima_df.
# YOUR CODE HERE
pima_df = pd.read_csv('diabetes_uncleaned_data.csv')

## Part 2: Missing Data

In [18]:
#Question 1:  Find Columns with missing data
# YOUR CODE HERE
pima_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004 entries, 0 to 1003
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               890 non-null    float64
 1   Glucose                   988 non-null    float64
 2   BloodPressure             982 non-null    object
 3   SkinThickness             1004 non-null   int64
 4   Insulin                   1004 non-null   int64
 5   BMI                       1003 non-null   object
 6   DiabetesPedigreeFunction  1004 non-null   float64
 7   Age                       982 non-null    float64
 8   Outcome                   1004 non-null   object
dtypes: float64(4), int64(2), object(3)
memory usage: 70.7+ KB

In [19]:
# Question 2:  Write code to remove rows with missing data and save the new dataframe as pima_missing_fixed_df
# YOUR CODE HERE
dropna_pima_df = pima_df.dropna()
dropna_pima_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3.0,167.0,39,28,545,53.0,2.447,125.0,FALSE
1,13.0,151.0,107,38,10000,9.2,0.507,148.0,FALSE
2,8.0,59.0,109,18,739,59.1,1.769,91.0,TRUE
4,10.0,165.0,48,37,737,39.4,0.729,73.0,FALSE
5,-100.0,142.0,88,39,82,42.7,1.369,148.0,TRUE
...,...,...,...,...,...,...,...,...,...
998,6.0,110.0,26,27,590,20.8,1.185,95.0,FALSE
999,6.0,110.0,26,27,590,20.8,1.185,95.0,FALSE
1001,4.0,80.0,24,6,268,48.9,0.989,81.0,TRUE
1002,3.0,142.0,Error,10,299,4.8,2.411,71.0,TRUE
1003,6.0,151.0,60,26,362,43.4,2.027,23.0,FALSE

In [20]:
# Question 3:  Print out the number of rows in the dataframe.
# YOUR CODE HERE
dropna_pima_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 840 entries, 0 to 1003
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               840 non-null    float64
 1   Glucose                   840 non-null    float64
 2   BloodPressure             840 non-null    object
 3   SkinThickness             840 non-null    int64
 4   Insulin                   840 non-null    int64
 5   BMI                       840 non-null    object
 6   DiabetesPedigreeFunction  840 non-null    float64
 7   Age                       840 non-null    float64
 8   Outcome                   840 non-null    object
dtypes: float64(4), int64(2), object(3)
memory usage: 65.6+ KB

### Question 4:  Discuss why this could be a problem.  What other methods could you use in this situation? 

Dropping every row with a missing value could drop more rows than intended causing our data set to be less effective. Instead we could fill missing values with the average value, or drop rows with certain values missing.

## Part 3: Duplicated Data

In [21]:
# Question 1: find the rows of duplicated data in the 
# pima_missing_fixed_df and print them.  
dup_df = dropna_pima_df[dropna_pima_df.duplicated()]
dup_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
925,6.0,39.0,46,2,287,40.4,2.394,60.0,TRUE
926,10.0,67.0,39,12,168,53.4,0.162,71.0,FALSE
999,6.0,110.0,26,27,590,20.8,1.185,95.0,FALSE
1003,6.0,151.0,60,26,362,43.4,2.027,23.0,FALSE

In [22]:
# Question 2: Write code to remove rows with missing data 
# and save the new dataframe as pima_missing_fixed_df
pima_missing_fixed_df = dropna_pima_df.drop_duplicates(keep='last')
pima_missing_fixed_df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3.0,167.0,39,28,545,53.0,2.447,125.0,FALSE
1,13.0,151.0,107,38,10000,9.2,0.507,148.0,FALSE
2,8.0,59.0,109,18,739,59.1,1.769,91.0,TRUE
4,10.0,165.0,48,37,737,39.4,0.729,73.0,FALSE
5,-100.0,142.0,88,39,82,42.7,1.369,148.0,TRUE
...,...,...,...,...,...,...,...,...,...
997,13.0,163.0,10,37,457,8.0,2.400,125.0,TRUE
999,6.0,110.0,26,27,590,20.8,1.185,95.0,FALSE
1001,4.0,80.0,24,6,268,48.9,0.989,81.0,TRUE
1002,3.0,142.0,Error,10,299,4.8,2.411,71.0,TRUE
1003,6.0,151.0,60,26,362,43.4,2.027,23.0,FALSE

In [23]:
# Question 3:  Print out the number of rows in the dataframe.
print(len(dropna_pima_df))
print(len(pima_missing_fixed_df))

840
836

### Question 4:  In your jupyter notebook, discuss why this could be a problem.
### What other methods could you use in this situation? 

Your discussion here

## Part 4: Mis-typed Columns/Broken Data

In [24]:
# Question 1: find the columns where most of the data seems to be one type of data, and there seems to be a data error. 
# In the markdown, after exploring in code, add a markdown cell discussing which columns have the data error. 
pima_missing_fixed_df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3.0,167.0,39,28,545,53.0,2.447,125.0,FALSE
1,13.0,151.0,107,38,10000,9.2,0.507,148.0,FALSE
2,8.0,59.0,109,18,739,59.1,1.769,91.0,TRUE
4,10.0,165.0,48,37,737,39.4,0.729,73.0,FALSE
5,-100.0,142.0,88,39,82,42.7,1.369,148.0,TRUE

In [25]:
# Question 2: Remove the rows with data errors
pima_missing_fixed_df = pima_missing_fixed_df.replace('Error', np.nan)
pima_missing_fixed_df['BloodPressure'] = pd.to_numeric(pima_missing_fixed_df['BloodPressure'])
pima_missing_fixed_df['BMI'] = pd.to_numeric(pima_missing_fixed_df['BMI'])
pima_missing_fixed_df['Outcome'] = pima_missing_fixed_df['Outcome'] == 'TRUE'

Some cols had a string "Error" which affected col data types, so that was replaced with nan
Outcome was true false, but in string form, so I turned them into boolean

In [26]:
# Question 3: After the data is fixed in your columns change the columns to the correct type and save this as the pima_fixed_columns_df.

In [27]:
# Question 4: Run pima_fixed_columns_df.info() to confirm the columns have changed.
pima_missing_fixed_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 836 entries, 0 to 1003
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               836 non-null    float64
 1   Glucose                   836 non-null    float64
 2   BloodPressure             834 non-null    float64
 3   SkinThickness             836 non-null    int64
 4   Insulin                   836 non-null    int64
 5   BMI                       835 non-null    float64
 6   DiabetesPedigreeFunction  836 non-null    float64
 7   Age                       836 non-null    float64
 8   Outcome                   836 non-null    bool
dtypes: bool(1), float64(6), int64(2)
memory usage: 59.6 KB

## Part 5: Outlier Detection and Removal

In [28]:
# Question 1: Print out the Outliers in each column in the pima_fixed_columns_df dataframe, use the IQR method of outlier detection.
new_df = pima_missing_fixed_df
for col, series in pima_missing_fixed_df[['Pregnancies','Glucose','BloodPressure','SkinThickness','Insulin','BMI','DiabetesPedigreeFunction','Age']].items():
    print(col)
    Q1 = series.quantile(0.25)
    Q3 = series.quantile(0.75)
    IQR = Q3 - Q1
    outliers = (series > (Q1 - 1.5 * IQR)) & (series < (Q3 + 1.5 * IQR))
    new_df[col] = new_df[col][outliers]
    print(outliers)

Pregnancies
0        True
1        True
2        True
4        True
5       False
        ...
997      True
999      True
1001     True
1002     True
1003     True
Name: Pregnancies, Length: 836, dtype: bool
Glucose
0       True
1       True
2       True
4       True
5       True
        ...
997     True
999     True
1001    True
1002    True
1003    True
Name: Glucose, Length: 836, dtype: bool
BloodPressure
0        True
1        True
2        True
4        True
5        True
        ...
997      True
999      True
1001     True
1002    False
1003     True
Name: BloodPressure, Length: 836, dtype: bool
SkinThickness
0       True
1       True
2       True
4       True
5       True
        ...
997     True
999     True
1001    True
1002    True
1003    True
Name: SkinThickness, Length: 836, dtype: bool
Insulin
0        True
1       False
2        True
4        True
5        True
        ...
997      True
999      True
1001     True
1002     True
1003     True
Name: Insulin, Length: 836, dtype: bool
BMI
0       True
1       True
2       True
4       True
5       True
        ...
997     True
999     True
1001    True
1002    True
1003    True
Name: BMI, Length: 836, dtype: bool
DiabetesPedigreeFunction
0       True
1       True
2       True
4       True
5       True
        ...
997     True
999     True
1001    True
1002    True
1003    True
Name: DiabetesPedigreeFunction, Length: 836, dtype: bool
Age
0       True
1       True
2       True
4       True
5       True
        ...
997     True
999     True
1001    True
1002    True
1003    True
Name: Age, Length: 836, dtype: bool

In [29]:
# Question 2: Use loc to remove outliers in each of the columns that have outliers, save this as pima_outlier_removed_df.
pima_outlier_removed = new_df
pima_outlier_removed

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,3.0,167.0,39.0,28,545.0,53.0,2.447,125.0,False
1,13.0,151.0,107.0,38,NaN,9.2,0.507,148.0,False
2,8.0,59.0,109.0,18,739.0,59.1,1.769,91.0,True
4,10.0,165.0,48.0,37,737.0,39.4,0.729,73.0,False
5,NaN,142.0,88.0,39,82.0,42.7,1.369,148.0,True
...,...,...,...,...,...,...,...,...,...
997,13.0,163.0,10.0,37,457.0,8.0,2.400,125.0,True
999,6.0,110.0,26.0,27,590.0,20.8,1.185,95.0,False
1001,4.0,80.0,24.0,6,268.0,48.9,0.989,81.0,True
1002,3.0,142.0,NaN,10,299.0,4.8,2.411,71.0,True
1003,6.0,151.0,60.0,26,362.0,43.4,2.027,23.0,False

In [30]:
# Question 3:  Print out the row count in the pima_outlier_removed_df and confirm this number is correct.
print(pima_outlier_removed.count())

Pregnancies                 835
Glucose                     836
BloodPressure               832
SkinThickness               836
Insulin                     835
BMI                         835
DiabetesPedigreeFunction    836
Age                         836
Outcome                     836
dtype: int64