In [88]:
import pandas as pd
import numpy as np

In [89]:
d = {'Name': ['Adam', 'Anna', 'James', 'Corey', 'Alisha', 'Jodie', 'John'],
     'Math': [11, 12, 11, 7, 9.5, 15, 18 ],
     'Science': [9, 11, 18, 15.5, 12, 18.5, 15.5],
     'Reading': [16, 8.5, 11.5, 11, 10.5, 7, 11],
     'History': [13.5, 10, 9, 14, 14, 12, 7.5]
}

df = pd.DataFrame(d)
df

     Name  Math  Science  Reading  History
0    Adam  11.0      9.0     16.0     13.5
1    Anna  12.0     11.0      8.5     10.0
2   James  11.0     18.0     11.5      9.0
3   Corey   7.0     15.5     11.0     14.0
4  Alisha   9.5     12.0     10.5     14.0
5   Jodie  15.0     18.5      7.0     12.0
6    John  18.0     15.5     11.0      7.5

In [90]:
# mean for each subject
print('Math:', np.mean(df['Math']))
print('Science:', np.mean(df['Science']))
print('Reading:', np.mean(df['Reading']))
print('History:', np.mean(df['History']))

Math: 11.928571428571429
Science: 14.214285714285714
Reading: 10.785714285714286
History: 11.428571428571429

In [91]:
# median for math (all students)
math = df['Math'].sort_values()
np.median(math)

11.0

In [92]:
# get mode
df['History'].mode()

0    14.0
Name: History, dtype: float64

In [93]:
# get corr
df.corr

<bound method DataFrame.corr of      Name  Math  Science  Reading  History
0    Adam  11.0      9.0     16.0     13.5
1    Anna  12.0     11.0      8.5     10.0
2   James  11.0     18.0     11.5      9.0
3   Corey   7.0     15.5     11.0     14.0
4  Alisha   9.5     12.0     10.5     14.0
5   Jodie  15.0     18.5      7.0     12.0
6    John  18.0     15.5     11.0      7.5>

In [94]:
# describe stats
def desc_stats(arr):
    arr = pd.Series(arr)
    arr.sort_values()
    print('Mean:', np.mean(arr))
    print('Median:', np.median(arr))
    print('Mode:', arr.mode()[0])
    print('Min:', np.min(arr))
    print('Max:', np.max(arr))
    print('Range:', np.max(arr)-np.min(arr))
    print('Variance:', np.var(arr))
    print('Stdev:', np.sqrt(np.var(arr)))

In [95]:
stats = [24, 5, 15, 60, 54, 82, 99, 80, 70, 98, 93, 60, 33, 22, 65, 61, 51, 58, 83, 86, 42, 67, 60]
desc_stats(stats)

Mean: 59.47826086956522
Median: 60.0
Mode: 60
Min: 5
Max: 99
Range: 94
Variance: 664.1625708884687
Stdev: 25.771351747404882

Because this looks like a normal dist and the mean is a 60, I would likely curve the grade so the mean/ median is at least a 65-70